@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
#componentNavbar {
  nav {
    background-color: #60bedc !important;
    height: 70px;
  }
  .diatas-nav {
    height: 35px;
    font-weight: 300;
    font-size: 14px;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
#kategoriCard {
  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  .e-card {
    border: solid 0.2px #cacaca;
    border-radius: 8px;
    padding: 12px;
    padding-bottom: 0;
    display: block;
    text-align: center;
    transition: all 0.4s;
    width: 236.44px;
    &:hover {
      background: #f6f6f6;
      text-decoration: underline;
    }
    img {
      width: 203.34px;
      border-radius: 8px;
      transition: all 0.4s;
      &:hover {
        filter: grayscale(50%);
      }
    }
  }
}
#produkPopuler {
  a {
    color: black;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  img {
    border-radius: 16px;
  }
  .card {
    background: #ffffff;
    border: 0.5px solid #eaeaea;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px -2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: all 0.4s;
    &:hover {
      cursor: pointer;
      box-shadow: none;
      background: #f6f6f6;
    }
  }
  .card-img-top {
    padding: 12px;
  }
}
#produkTerbaru {
  a {
    color: black;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  img {
    border-radius: 16px;
  }
  .card {
    background: #ffffff;
    border: 0.5px solid #eaeaea;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px -2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: all 0.4s;
    &:hover {
      cursor: pointer;
      box-shadow: none;
      background: #f6f6f6;
    }
  }
  .card-img-top {
    padding: 12px;
  }
}
footer {
  height: 220px;
  width: 100%;
  background-color: #60bedc;
}
